table {
  width: 100%;
}

.custom-container {
  margin-left: 160px;
  margin-top: 60px;
  width: calc(100% - 100px);
}

.card
{
/*  background-color: black;
  color:white
  */
}

.custom-btn-link{
  margin-left: 5px;
  color: #fff;
}

.custom-btn-link .glyphicon{
  color: #fff;
}

.custom-mat-cell{
  width: 120px;
}

.custom-brand{
  width: 100%;
  align-content: center;
  text-align: center;
  padding: 10px;
}

.custom-brand .glyphicon{
  font-size: 60px;
}

.btn-custom-link{
  color: #fff!important;
    display: block;
    margin-bottom: 5px;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 90px;
  height: 30px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}
.mybtn {
  background-color: DodgerBlue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.mybtn:hover {
  background-color: RoyalBlue;
}

div.card
{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}